# Covid-19 New Case Predictor 
### Using Neural Network with four input: date, state, newCases,  newDeaths
-----------------------------------------------
by Roya Salei

Course CS4200- Artificial Intelligence 

Professor: Dr. Husain Zaidi

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [3]:
# read data from file
df = pd.read_csv("state_ts.csv")
df.tail(10)

,date,state,newCases,cases,newDeaths,deaths,positiveTests,negativeTests,vaccinationsCompleted,hospitalBeds.capacity,hospitalBeds.currentUsageTotal,hospitalBeds.currentUsageCovid,icuBeds.capacity,icuBeds.currentUsageTotal,icuBeds.currentUsageCovid,mask_mandate,daily_infection_rate,daily_death_rate,newCases_density,newDeaths_density
33027,2021-11-02,WY,367.0,103989.0,69.0,1243.0,81211.0,1021342.0,255199.0,1603.0,818.0,195.0,139.0,74.0,42.0,0,0.636213,0.119615,3.779609,0.710608
33028,2021-11-03,WY,414.0,104403.0,0.0,1243.0,81551.0,1025572.0,255597.0,1748.0,939.0,192.0,139.0,76.0,41.0,0,0.717690,0.000000,4.263646,0.000000
33029,2021-11-04,WY,537.0,104940.0,0.0,1243.0,81819.0,1028372.0,255655.0,1748.0,941.0,179.0,139.0,72.0,36.0,0,0.930916,0.000000,5.530381,0.000000
33030,2021-11-05,WY,378.0,105318.0,0.0,1243.0,82057.0,1030728.0,256237.0,1748.0,923.0,181.0,139.0,76.0,36.0,0,0.655282,0.000000,3.892894,0.000000
33031,2021-11-06,WY,0.0,105318.0,0.0,1243.0,82202.0,1032878.0,256695.0,1747.0,881.0,169.0,137.0,79.0,37.0,0,0.000000,0.000000,0.000000,0.000000
33032,2021-11-07,WY,0.0,105318.0,0.0,1243.0,82344.0,1033805.0,256745.0,1747.0,881.0,175.0,137.0,78.0,41.0,0,0.000000,0.000000,0.000000,0.000000
33033,2021-11-08,WY,672.0,105990.0,0.0,1243.0,82367.0,1034107.0,256772.0,1602.0,806.0,185.0,139.0,74.0,41.0,0,1.164946,0.000000,6.920700,0.000000
33034,2021-11-09,WY,297.0,106287.0,55.0,1298.0,NaN,NaN,257742.0,1603.0,831.0,181.0,137.0,81.0,39.0,0,0.514864,0.095345,3.058702,0.566426
33035,2021-11-10,WY,411.0,106698.0,0.0,1298.0,NaN,NaN,258081.0,1748.0,963.0,174.0,136.0,77.0,36.0,0,0.712489,0.000000,4.232750,0.000000
33036,2021-11-11,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1748.0,963.0,174.0,136.0,77.0,36.0,0,NaN,NaN,NaN,NaN

In [4]:
# change state name to integer
states = df['state'].unique()
for i in range(len(states)):
    df['state']=i
df

,date,state,newCases,cases,newDeaths,deaths,positiveTests,negativeTests,vaccinationsCompleted,hospitalBeds.capacity,hospitalBeds.currentUsageTotal,hospitalBeds.currentUsageCovid,icuBeds.capacity,icuBeds.currentUsageTotal,icuBeds.currentUsageCovid,mask_mandate,daily_infection_rate,daily_death_rate,newCases_density,newDeaths_density
0,2020-03-01,52,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2020-03-02,52,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2020-03-03,52,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
3,2020-03-04,52,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2020-03-05,52,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33032,2021-11-07,52,0.0,105318.0,0.0,1243.0,82344.0,1033805.0,256745.0,1747.0,881.0,175.0,137.0,78.0,41.0,0,0.000000,0.000000,0.000000,0.000000
33033,2021-11-08,52,672.0,105990.0,0.0,1243.0,82367.0,1034107.0,256772.0,1602.0,806.0,185.0,139.0,74.0,41.0,0,1.164946,0.000000,6.920700,0.000000
33034,2021-11-09,52,297.0,106287.0,55.0,1298.0,NaN,NaN,257742.0,1603.0,831.0,181.0,137.0,81.0,39.0,0,0.514864,0.095345,3.058702,0.566426
33035,2021-11-10,52,411.0,106698.0,0.0,1298.0,NaN,NaN,258081.0,1748.0,963.0,174.0,136.0,77.0,36.0,0,0.712489,0.000000,4.232750,0.000000
33036,2021-11-11,52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1748.0,963.0,174.0,136.0,77.0,36.0,0,NaN,NaN,NaN,NaN

In [4]:
# # convert date column to float type
# df['date'] = pd.to_datetime(df['date'])

# for i in range(len(df)):
#     df['date'][i]=df['date'][i].timestamp()

# # df.shape
# df

In [5]:
# #Drop rows that has any NaN data
# df = df.dropna()
# df = df.reset_index()
# df.tail(10)

In [6]:
# # select mask mandate as a label for categorizing data
# mask_as_label = df['mask_mandate'].values
# mask_as_label.shape

In [10]:
# mask_as_label

In [11]:
# # select 4 columns for evidence variables
# # data = df[['date','state','newCases', 'newDeaths', 'positiveTests','vaccinationsCompleted', 'daily_infection_rate', 'daily_death_rate',
# #        'newCases_density', 'newDeaths_density']]

# mini_df = df[['date','state','newCases', 'newDeaths']]
# mini_df.shape
# mini_df

In [12]:
# # convert evidence to numpy array and check date type- it should be float
# evidence = mini_df.to_numpy()
# evidence = np.asarray(evidence).astype('float32')
# type(evidence[0][0])

In [13]:
# evidence.shape
# evidence

### Five Steps in the Life-Cycle 
1. Define the model

In [14]:
# # Separate data into training and testing groups
# X_training, X_testing, y_training, y_testing = train_test_split(
#     evidence, mask_as_label, test_size=0.4
# )

In [15]:
# # Create a neural network - meaning one layer after another layer
# model = tf.keras.models.Sequential()

In [16]:
# # Add a hidden layer with 8 units, with ReLU activation
# # Dense layer means each node is densly connected to other layers
# model.add(tf.keras.layers.Dense(8, input_shape=(4,), activation="relu"))

In [17]:
# # Add output layer with 1 unit, with sigmoid activation
# model.add(tf.keras.layers.Dense(1, activation="sigmoid"))

2. Compile the model

In [18]:
# # Train neural network
# model.compile(
#     optimizer="adam",  # choice of optimization
#     loss="binary_crossentropy",  # what type of loss function
#     metrics=["accuracy"] # the metrics to analyze for
# )

In [19]:
# print(X_training.shape, X_testing.shape, y_training.shape, y_testing.shape)

3. Fit or Train the Model

In [20]:
# # train the model for 20 times
# model.fit(X_training, y_training, epochs=20)

4. Evaluate the Model

In [21]:
# # Evaluate and compare with test data:  how well model performs
# model.evaluate(X_testing, y_testing, verbose=2)

5. Make Predictions

In [22]:
# #predict
# d1 =[1.63581e+09, 52, 367.0, 69.0 ]
# d2 = [1.6363296e+09, 5, 672, 500]
# yhat = model.predict([d2])
# print('Predicted: %.3f' % yhat)